*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: #ddd;
}

h1{
    text-align: center;
    margin: 20px 0;
}

a{
    color: black;
    font-size: 12px;
}
audio{
    width: 25%;
    height: 40PX;
    margin: 20px 0;
}